.breadcrumbBox {
    display: inline-block;
    align-items: center;
}

.breadcrumbLabel {
    display: inline-block;
    color: white;
    padding-left: 30px;
    font-size: 120%;
}

.breadcrumb {
    padding: 6px;
    padding-right: 2px;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    background: none;
}

.breadcrumbArrow {
    padding: 0px;
    display: inline-block;
    cursor: unset;
    text-decoration: none;
}

.drilldownHint {
    padding-top: 20px;
    padding-left: 25px;
}

.fancyBreakdownChart {
    height: 85%;
}

.fancyChartForm {
    text-align: left;
    height: 15%;
}

.fancyChartInner {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 7%;
    left: 4%;
}

.resourceValueForm {
    text-align: left;
    height: 10%;
}

.resourceValueChart {
    width: 100%;
    height: 90%;
}

.gdpForm {
    text-align: left;
    height: 7%;
}

.gdpChart {
    width: 100%;
    height: 93%;
}