.monitor {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}

.monitorHeader {
    flex: 0 1 auto;
}

.monitorContent {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.monitorTab {
    width: 100%;
    height: 100%;
}

.empireName {
    color: #22dc33;
}

.playerName {
    color: #3565dd;
    padding-left: 10px;
    font-size: 70%;
}

.statusIndicator {
    padding: 30px;
}

.statusIndicatorGood {
    border: 1px solid #00fa00;
    background-color: #006a00;
    border-radius: 5px;
    color: #33ff33;
}

.statusIndicatorGoodText {
    color: #33ff33;
}

.statusIndicatorLoading {
    border: 1px solid #eef108;
    background-color: #abad00;
    border-radius: 5px;
    color: #d3dad9;
}

.statusIndicatorLoadingText {
    color: #d3dad9;
}

.statusIndicatorError {
    border: 1px solid #ff2323;
    background-color: #8a0000;
    border-radius: 5px;
    color: #ff8b8b;
}

.statusIndicatorErrorText {
    color: #ff8b8b;
}

.customTab {
    justify-content: left;
    text-align: left;
}

.chartDesc {
    font-size: 175%;
}

.overviewChart {
    height: 40vh;
}
