.monitor {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}

.monitorHeader {
    flex: 0 1 auto;
}

.monitorContent {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.monitorTab {
    width: 100%;
    height: 100%;
}

.empireName {
    color: #22dc33;
}

.playerName {
    color: #3565dd;
    padding-left: 10px;
    font-size: 70%;
}

.statusIndicator {
    padding: 30px;
}

.statusIndicatorGood {
    border: 1px solid #00fa00;
    background-color: #006a00;
    border-radius: 5px;
    color: #33ff33;
}

.statusIndicatorGoodText {
    color: #33ff33;
}

.statusIndicatorLoading {
    border: 1px solid #eef108;
    background-color: #abad00;
    border-radius: 5px;
    color: #d3dad9;
}

.statusIndicatorLoadingText {
    color: #d3dad9;
}

.statusIndicatorError {
    border: 1px solid #ff2323;
    background-color: #8a0000;
    border-radius: 5px;
    color: #ff8b8b;
}

.statusIndicatorErrorText {
    color: #ff8b8b;
}

.chartDesc {
    font-size: 175%;
}

.presetChart {
    height: 49%;
    min-height: 45%;
}

.dateSlider {
    margin-right: 50px;
    min-width: 300px;
    padding-top: 35px;
}

.chartRow {
    height: 100%;
}

.chartCol {
    min-height: 49%;
}

.presetChartRow {
    height: 80%;
}

.customTab {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}

.customTabHeader {
    flex: 0 1 auto;
}

.customTabContent {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.tabRow {
    margin-bottom: -12px;
    padding-bottom: 17px;
}

.tipBox {
    border: 1px solid white;
    padding: 5px;
    margin-bottom: -12px;
    border-radius: 3px;
    transform: translateY(-10px);
    cursor: pointer;
}

.tip {
    color: #d3dad9;
    text-align: center;
    margin: 0px;
}
