.genderAreaChart {
    height: 50%;
    width: 100%;
}

.genderPieChart {
    height: 50%;
    width: 100%;
}

.societyChartForm {
    height: 5%;
    position: absolute;
    left: 3%;
    top: 1%;
    z-index: 1000;
}

.societyChartArea {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 5%;
    left: 0;
}
