.placeholder {
    border: 1px solid green;
    width: 100%;
    height: 100%;
}

.customChartArea {
    width: 100%;
    height: 50%;
    min-height: 500px;
}

.customPropsArea {
    display: flex;
    justify-content: left;
}

.customSeriesArea {
    display: flex;
    justify-content: left;
}

.seriesCreator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    border: 1px solid green;
    padding: 5px;
}

.seriesSelectorLevel {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
}

.seriesDataArrow {
    padding: 2px;
    vertical-align: middle;
    display: table-cell;
    margin: 0px;
}

.dataSelectorKeyList {
    display: flex;
}
