.empireChooserRow {
    width: 95%;
    padding-left: 5%;
}

.empireCard {
    height: 100%;
    background-color: #444444 !important;
}

.empireCard:hover {
    background-color: #777777 !important;
    cursor: pointer;
}

.empireCard:active {
    background-color: #232323 !important;
    cursor: pointer;
}

.empireNameArea {
    height: 80%;
}

.empireTypeArea {
    height: 20%;
    text-align: center;
}

.playerCardText{
    color: #22ee33;
    padding-bottom: 5px;
}

.aiCardText {
    color: #ee3322;
}

.empirePlayer {
   color: #55c5c0;
}
