altgraph==0.17
asgiref==3.2.10
attrs==19.3.0
autobahn==20.12.3
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.1
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==3.3.2
daphne==2.5.0
Django==3.1.10
future==0.18.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
pefile==2019.4.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pyOpenSSL==19.1.0
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.24.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.10
xdg==4.0.1
zope.interface==5.1.0
