altgraph==0.17
asgiref==3.4.1
attrs==19.3.0
autobahn==22.5.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.15.0
channels==3.0.4
chardet==3.0.4
charset-normalizer==2.0.7
constantly==15.1.0
cryptography==37.0.2
cx-Freeze==6.11.0
cx-Logging==3.0
daphne==3.0.2
Django==3.2.12
future==0.18.2
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.11.4
incremental==21.3.0
lief==0.12.1
packaging==21.3
pefile==2019.4.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.26.0
service-identity==21.1.0
six==1.15.0
sqlparse==0.3.1
Twisted==22.4.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.2.0
urllib3==1.26.7
xdg==4.0.1
zipp==3.8.0
zope.interface==5.1.0
