.warOverviewChart {
    height: 85%;
    width: 100%;
}

.militaryOverviewArea {
    height: 15%;
    width: 100%;
}

.militaryOverviewLabel {
    color: #bf0527;
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18pt;
}

.militaryOverviewNumber {
    color: #0387ab;
}
