.warOverviewChart {
    height: 88%;
    width: 100%;
}

.militaryOverviewArea {
    height: 10%;
    width: 100%;
}

.militaryOverviewLabel {
    color: #bf0527;
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1.2vw;
}

.militaryOverviewNumber {
    color: #0387ab;
}
