.Stellaru {
  background-color: #292929;
  text-align: center;
  min-height: 100%;
}

body {
  color: #fcfcfc !important;
  background-color: #292929 !important;
  min-height: 100%;
  height: 100%;
  text-align: center;
}

.row {
  padding-bottom: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.error {
  color: #de3344;
}

.container-fluid {
  height: 100vh;
}
