.chart {
    background-color: #383838;
    border: 1px solid #545454;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px #121212;
    position: relative;
}

.chartTitle {
    left: 50%;
    top: 1.1%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 1.2vw;
    width: 90%;
 }

.verticaalFlex {
    display: flex;
    flex-direction: column;
}

.chartOverlayTriggerArea {
    z-index: 1000;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 15px;
    position: absolute;
    top: 1%;
    right: 1%;
    width: 40px;
    height: 40px;
}

.chartOverlayTriggerArea:hover {
    background-color: rgba(70,70,70,0.4);
    cursor: pointer;
}

.chartOverlayTriggerArea:active {
    background-color: rgba(20,20,20,0.4);
    cursor: pointer;
}

.chartOverlay {
    z-index: 1000;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    position: absolute;
    top: 1%;
    right: 1%;
    width: 90px;
    height: 160px;
    text-align: left;
}

.chartOverlayDots {
    font-size: 22pt;
    color: rgba(80,80,80,0.9);
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
}

.chartOverlayRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
}

.chartOverlayButton {
    width: 50%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.chartOverlayButton:hover {
    background-color: rgba(80,80,80,0.9);
}

.chartOverlayButton:active {
    background-color: rgba(20,20,20,0.9);
}

.tooltipBox {
    background-color: #303030;
    border: 1px solid white;
    text-align: left;
    padding: 5px;
}

.tooltipRow {
    margin-bottom: -20px;
}

.tooltipLabel {
    font-size: 1vw;
    text-align: center;
    color: white;
}

.tooltipItem {
    font-size: 0.85vw;
    padding: 0px;
    margin-bottom: -3px;
}

.defaultChartOverlay {
    z-index: 1000;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    position: absolute;
    top: 1%;
    right: 1%;
    text-align: left;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.defaultChartOverlay:hover {
    background-color: rgba(120,120,120,0.3);
}

.defaultChartOverlay:active {
    background-color: rgba(40,40,40,0.6);
}

.addToDashboardText {
    padding-top: 5px;
}

.addedToDashText {
    color: #12de45;
    font-weight: bold;
    padding-top: 5px;
}